
.chat__navbar{
   height: 9vh; 
}

.chat__area{
    display: flex;
    height:100vh;
}

.chat__area__sidebar{
    display: flex;
    width: 22%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    flex-shrink: 0;
}
.chat__area__content{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    max-width: 78%;
    background-color: rgb(178, 186, 194);
    height: 100%;
}

.chat__area__content__writer{
    position: sticky;
    margin-top: auto;
    z-index: 5;
    bottom: 0;
}